* {
    box-sizing: border-box;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body {
    height: 150vh;
    font-family: 'Noto Sans Georgian', sans-serif;
    font-size: 1.4rem;
}

/* common */
.container {
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 960px;
    background-color: #fff;
    border: 2px solid #e2bcbc;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a {
    text-decoration: none;
}

/* header  */
.header {
    height: 50px;
    width: 100%;
}

.main__heading {
    line-height: 50px;
    text-align: center;
    color: #a73131;
    font-size: 2.7rem;
    font-weight: 600;
    font-style: italic;
    text-shadow: 8px 7px 2px #ffc0cb;
}

/* nav  */
.hero__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    background-color: #eb9696;
    border-top: 2px solid #e2bcbc;
    border-bottom: 2px solid #e2bcbc;
}

.nav__top-list {
    display: flex;
}

.nav__icon {
    margin-right: 9px;
    width: 18px;
    height: 18px;
}

.nav__top {
    border-left: 2px solid #9860ba;
}

.nav__top-link {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 450;
    padding: 0 24px;
    border-right: 2px solid #9860ba;
}

.nav__top-link:hover {
    text-shadow: 1px 0 0 #fff;
}



.search {
    padding-left: 37px;
}

.space__search {
    border: none;
    width: 110px;
}

/* main  */
.main__inner {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.nav__left {
    padding-right: 10px;
    width: 150px;
}

.nav__left-link {
    width: 145px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    border-radius: 99px;
    color: #fff;
    background-color: #eb9696;
}

.nav__left-link:hover {
    text-shadow: 1px 0 0 #fff;
}

.nav__left-item {
    margin-top: 5px;

}

.nav__left-item:first-child {
    margin-top: 0;
}

.nav__img {
    margin-top: 10px;
    height: 95px;
    width: 145px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 7px 14px 6px -1px rgb(255, 192, 203);
}

/* section  */
.section {
    width: 540px;
}

.sub__heading {
    padding-left: 15px;
    word-spacing: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 285px;
    height: 25px;
    line-height: 25px;
    color: #a82e2e;
    background-color: #eb9696;
    font-size: 1.8rem;
    font-weight: 600;
}

.article__link {
    display: inline-block;
    padding: 5px 0 0 20px;
    position: relative;
    color: #000;
    font-size: 1.2rem;
}

.article__link::after {
    content: "";
    left: 10px;
    top: 9px;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #000;
}

.article__link-color {
    color: #d67731;
    font-weight: 600;
}

.bt__top,
.color__red {
    color: rgb(255, 0, 0);
    text-decoration: underline;
    font-weight: 550;
}

.bt__top {
    font-size: 1.2rem;
    display: inline-block;
    padding-top: 5px;
}

.article__bottom {
    margin-top: 10px;
}

.form__row {
    display: inline-flex;
    column-gap: 20px;
    margin-top: 15px;
}

.form__group-radio {
    display: flex;
    gap: 5px;
}

.from__input {
    padding: 5px;
    height: 30px;
    width: 255px;
}

.form-textarea {
    width: 530px;
}

/* aside  */
.aside__bg {
    margin-right: 0;
    padding: 5px 0;
    width: 240px;
    background-color: #000;
}

.aside__heading {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.aside__meeting,
.aside__company {
    padding: 20px 25px;
}

.aside__sub-heading {
    margin-bottom: 5px;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
}

.img__aside {
    height: 110px;
    width: 190px;
    object-fit: cover;
}

.aside__desc {
    font-size: 1.18rem;
    color: #b9b1ab;
}

.aside__more {
    color: #986e6f;
    text-decoration: underline;
}


/* footer  */
footer {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
    background-color: #eb9696;
    color: #fff;
    font-size: 1.6rem;
    border-top: 2px solid #e2bcbc;
}

.margin__top {
    display: inline-block;
    position: relative;
    top: -6px;
}